{% extends "template.html.twig" %}
{% block content %}
	<form action="" method="POST" align="center">
		<input type="text" name="pseudo">
		<input type="password" name="" id="">
		<input type="submit" value="valider" name="valider">
	</form>

{% endblock %}
